@media screen and (min-width: 768px){

  main{
    position: relative;
  }

  .data-card{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 300px;
  }

  .weather-card{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 300px;
  }

  .weather-icon{
    display: none;
  }

  .weather-card h2::after{
    content: " ⛅";
  }
}